#first-row {
    margin-top: 33px;
}
#plus-box {
    border: 5px solid black;
    padding: 38px;
    font-size: 31px;
    margin: auto;
    font-weight: bold;
    display: block;
    text-align: center;
    width: 130px;
    height: 120px;
}

.group-box {
    border: 5px solid black;
    padding: 25px;
    /* font-size: 31px; */
    margin: auto;
    font-weight: bold;
    display: block;
    text-align: center;
    width: 130px;
    height: 120px;
}

.top-height {
    margin-top: 25px;
}

.right-border {
    border: 1px solid black
}

.center {
    text-align: center;
    margin-bottom: 27px;

}

.member {
    height: 50px;
    width: 50px;
    border: solid 1px black;
    float: left;
    margin: 25px 50px;
    border-radius: 15px;
    background-color: white;
}